*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face{
    font-family:"walk";
    src: url(../fonts/Walkway_Black.ttf)
}

/*
GLOBALES
*/


.header{
    width: 100%;
    height: 100px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-clinic{
    width:180px;
    object-fit: cover;
    margin-left: 15px;
}

.section-img{
    width:100%;
    height:450px;
    background-color:rgb(224, 224, 224);
    margin: auto;
    border-radius: 20px;
}

.section-img h1{
    position: absolute;
    top: 380px;
    color: white;
    font-size: 1.3rem;
    font-family:"walk";
    letter-spacing: 1.8px;
    margin-left: 18px;
}

.line{
    width: 127px;
    height: 2px;
    background-color:white;
    position: absolute;
    top: 435px;
}

.img{
    width:100%;
    height:450px;
    object-fit: cover;
    border-radius: 20px;
}

.flex-socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.item-link{
    width:32px;
    height:32px;
    background-color:#6ba2ea;
    border-radius:50%;
    margin-left:15px;
}



.nav-ul{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:white;
    width: 90%;
    height:80px;
    margin: auto;
    border-radius:50px;
    margin-top: -40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.192);
    position: relative;
}

.nav-ul li a{
    text-decoration: none;
    color: #6ba2ea;
    font-size: 0.9rem;
    margin: 10px;
    font-family:"walk";
}

.sect-page h2{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
    color: #6ba2ea;
    font-family:"walk";
    letter-spacing: 1.5px;
    font-size:1.1rem;
}

.sect-page p{
    text-align: center;
    color: rgb(186, 186, 186);
}

.sect-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.benefits{
    margin-bottom: 45px;
}

.benefits p{
    color: #6ba2ea;
    text-align: center;
    font-size:1.5rem;
    margin-top: 10px;
    font-family:"walk";
    letter-spacing: 2px;
}

.benefits-item{
    width: 140px;
    height: 140px;
    background-color:white;
    margin: auto;
    margin-bottom: 15px;
    border-radius:50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.192);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    width:80px;
    margin-top: 10px;
}

.flex-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.image-one{
    width: 220px;
    height: 200px;
    background-color: grey;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.foto-one{
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.foto-two{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.foto-tre{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image-two{
    width: 100%;
    height: 200px;
    background-color: grey;
}

.image-thre{
    width: 250px;
    height: 200px;
    background-color: grey;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: grey;
}

.flex-image{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content:center;
    width:100%;
}

.flex-inst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-section h3{
    font-size: 1.5rem;
    color: #6ba2ea;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family:"walk";
    letter-spacing: 2px;
}

.info-section p{
    font-size: 1.0rem;
    color: rgb(186, 186, 186);
    margin-bottom: 60px;
    text-align: center;
    width: 70%;
}

.info-section-button{
    background-color:transparent;
    border: 1px solid #6ba2ea;
    padding:10px 20px;
    border-radius: 20px;
    margin-left: 30px;
    color: #6ba2ea;
}

.flex-personal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background-color:rgb(238, 238, 238);
    height:400px;
    margin-bottom: 100px;
}

.workers{
    width: 55%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    width: 45%;
    height: 400px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h2{
    text-align: right;
    font-family:"walk";
    letter-spacing: 2px;
    font-size:1.2rem;
    color: #6ba2ea;
    margin-right: 15px;
}

.title p{
    text-align: right;
    font-size:0.8rem;
    color:grey;
    margin-top:15px;
    margin-right: -12px;
    width: 70%;
}

.list{
    width:45%;
    height:100%;
    margin-top: 20px;
    margin-right: 10px;
}

.list-two{
    width:45%;
    height:100%;
}

.person{
    width: 100%;
    height: 140px;
    background-color:white;
    border-radius:12px;
    margin-bottom: 10px;
}

.persontwo{
    width: 100%;
    height: 90px;
    background-color:white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 10px;
}

.persontwo h3{
    color: green;
    font-size: 0.5rem;
    text-align:center;
    margin-top: 12px;
}

.persontwo p{
    color: grey;
    font-size: 0.5rem;
    text-align:center;
}

.persontre{
    width: 100%;
    height: 90px;
    background-color:white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: 10px;
}

.persontre h3{
    color: green;
    font-size: 0.5rem;
    text-align:center;
    margin-top: 12px;
}

.persontre p{
    color: grey;
    font-size: 0.5rem;
    text-align:center;
}

.person h3{
    color: green;
    font-size: 0.5rem;
    text-align:center;
    margin-top: 12px;
}

.person p{
    color: grey;
    font-size: 0.5rem;
    text-align:center;
}

.pic{
    width: 100%;
    height: 100px;
    background-color:rgb(211, 211, 211);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.person-pic{
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.person-pic-two{
    object-fit: cover;
    width: 100%;
    height: 50px;
}

.pic-two{
    width: 100%;
    height: 50px;
    background-color:rgb(211, 211, 211);
}

.pictre{
    width: 100%;
    height: 90px;
    background-color:rgb(211, 211, 211);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.person-pic-tre{
    object-fit: cover;
    width: 100%;
    height: 90px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.sect-dr{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.doc{
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius:25px;
    margin-bottom: 80px;
}


.border{
    width: 280px;
    height: 375px;
    border: 1px solid #6ba2ea;
    position: absolute;
    top: 3152px;
    left:25px;
    z-index: -1;
    border-radius:25px;
    
}

.info-doc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.info-doc h3{
    font-family:"walk";
    letter-spacing: 2px;
    color: #6ba2ea;
    font-size:1.5rem;
}

.info-doc p{
    color: rgb(186, 186, 186);
    font-size:0.9rem;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.volver{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.volver p{
    font-size: 0.8rem;
    border-bottom: 1px solid #6ba2ea;
    margin-top:5px;
    color:#6ba2ea;
}

.flecha{
    width:30px;
    display: block;
    margin: 0 auto;
}